<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main page</title>
    <script type="text/javascript"
            src="/resources/js/jquery-2.2.0.js"></script>
    <script type="text/javascript"
            src="/resources/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css"
          href="/resources/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css"
          href="/resources/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Start game</h1>
</div>
</body>
</html>


